<div class="muthur-app muthur-gm">
  <div class="muthur-crt muthur-gm-crt">
    <div class="muthur-log">
      {{#each lines}}
      <div class="muthur-line muthur-type-{{this.type}}">{{{this.html}}}</div>
      {{/each}}
    </div>
  </div>
  <div class="muthur-gm-controls">
    <select class="muthur-target" title="{{targetTitle}}">
      <option value="all">{{allTerminals}}</option>
      {{#each users}}
      <option value="{{this.id}}">{{this.name}}{{#unless this.active}} {{../offlineLabel}}{{/unless}}</option>
      {{/each}}
    </select>
    <input type="text" class="muthur-gm-input" placeholder="{{inputPlaceholder}}" autocomplete="off" spellcheck="false" />
    <button type="button" class="muthur-gm-send" title="{{sendTitle}}">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  </div>
  <div class="muthur-gm-toolbar">
    <button type="button" class="muthur-force-open">
      <i class="fa-solid fa-desktop"></i> {{forceOpenLabel}}
    </button>
    <button type="button" class="muthur-system-msg">
      <i class="fa-solid fa-triangle-exclamation"></i> {{systemAlertLabel}}
    </button>
    <button type="button" class="muthur-clear">
      <i class="fa-solid fa-trash"></i> {{clearLabel}}
    </button>
  </div>
</div>
